.Theme_Responsive_20070_Contact select,
.Theme_Responsive_20070_Contact textarea,
.Theme_Responsive_20070_Contact input[type="text"],
.Theme_Responsive_20070_Contact input[type="password"],
.Theme_Responsive_20070_Contact input[type="datetime"],
.Theme_Responsive_20070_Contact input[type="datetime-local"],
.Theme_Responsive_20070_Contact input[type="date"],
.Theme_Responsive_20070_Contact input[type="month"],
.Theme_Responsive_20070_Contact input[type="time"],
.Theme_Responsive_20070_Contact input[type="week"],
.Theme_Responsive_20070_Contact input[type="number"],
.Theme_Responsive_20070_Contact input[type="email"],
.Theme_Responsive_20070_Contact input[type="url"],
.Theme_Responsive_20070_Contact input[type="search"],
.Theme_Responsive_20070_Contact input[type="tel"],
.Theme_Responsive_20070_Contact input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 42px;
  font-size: 12px;
  color: #888;
	  background-color:#fff;
  border: 1px solid #e8e8e8;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
  margin-bottom:0px;
  padding: 0 0 0 20px;
}
.Theme_Responsive_20070_Contact input[type="text"]{
	line-height:42px\0;
	}
.Theme_Responsive_20070_Contact textarea{
	padding:20px;
	line-height: normal;
	}
.Theme_Responsive_20070_Contact textarea::-webkit-input-placeholder,
.Theme_Responsive_20070_Contact input::-webkit-input-placeholder { 
	/* WebKit browsers */
	color: #888;
	}
.Theme_Responsive_20070_Contact textarea:-moz-placeholder,
.Theme_Responsive_20070_Contact input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #888;
	}
.Theme_Responsive_20070_Contact textarea::-moz-placeholder,
.Theme_Responsive_20070_Contact input::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #888;
	}
.Theme_Responsive_20070_Contact textarea:-ms-input-placeholder ,
.Theme_Responsive_20070_Contact input:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #888;
	}

.Theme_Responsive_20070_Contact textarea:focus,
.Theme_Responsive_20070_Contact input[type="text"]:focus,
.Theme_Responsive_20070_Contact input[type="password"]:focus,
.Theme_Responsive_20070_Contact input[type="datetime"]:focus,
.Theme_Responsive_20070_Contact input[type="datetime-local"]:focus,
.Theme_Responsive_20070_Contact input[type="date"]:focus,
.Theme_Responsive_20070_Contact input[type="month"]:focus,
.Theme_Responsive_20070_Contact input[type="time"]:focus,
.Theme_Responsive_20070_Contact input[type="week"]:focus,
.Theme_Responsive_20070_Contact input[type="number"]:focus,
.Theme_Responsive_20070_Contact input[type="email"]:focus,
.Theme_Responsive_20070_Contact input[type="url"]:focus,
.Theme_Responsive_20070_Contact input[type="search"]:focus,
.Theme_Responsive_20070_Contact input[type="tel"]:focus,
.Theme_Responsive_20070_Contact input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.Theme_Responsive_20070_Contact .form_list{
	font-size:0;
	}
.Theme_Responsive_20070_Contact .form_list li{
	display:inline-block;
	font-size:13px;
}

.Theme_Responsive_20070_Contact select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    width: 220px;
}
.Theme_Responsive_20070_Contact select, 
.Theme_Responsive_20070_Contact input[type="file"] {
    height: 30px;
    line-height: 30px;
}

.Theme_Responsive_20070_Contact select[multiple], 
.Theme_Responsive_20070_Contact select[size] {
    height: auto;
}

.Theme_Responsive_20070_Contact legend{
	font-size:16px;
}
.Theme_Responsive_20070_Contact fieldset{
	margin-bottom:10px;
}
.Theme_Responsive_20070_Contact .form_label,
.Theme_Responsive_20070_Contact .form_input,
.Theme_Responsive_20070_Contact .form_required{
	padding:0px 8px 8px 0px;
}
.Theme_Responsive_20070_Contact .form_input{
	padding:0;
	}
.Theme_Responsive_20070_Contact .form_captcha img{
	vertical-align:top;
}

.Theme_Responsive_20070_Contact .btn {
	width: 49.5%;
	display: inline-block;
	*display: inline;
	padding:0 ;
	margin-bottom: 0;
	*margin-left: .3em;
	font-size: 13px;
	line-height: 46px;
	*line-height: 46px;
	color: #E40421;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	*border: 0;
	border-radius: 0;
	outline:none;
	border:none;
	border:2px solid ;
	outline:none;
	transition: 		background-color ease-in 200ms,color ease-in 200ms;
	-moz-transition: 	background-color ease-in 200ms,color ease-in 200ms; /* Firefox 4 */
	-webkit-transition:     background-color ease-in 200ms,color ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		background-color ease-in 200ms,color ease-in 200ms; /* Opera */
	-ms-transition: 	background-color ease-in 200ms,color ease-in 200ms; /* IE9? */
}
.Theme_Responsive_20070_Contact .btn:hover,
.Theme_Responsive_20070_Contact .btn.active,
.Theme_Responsive_20070_Contact .btn.disabled{
  background-color: transparent;
  *background-color: transparent;
  outline:none;
}

.Theme_Responsive_20070_Contact .btn:active,
.Theme_Responsive_20070_Contact .btn.active {
  background-color:transparent \9;
}

.btn:first-child {
  *margin-left: 0;
}



.btn-large {
  padding: 9px 14px;
  font-size: 16px;
  line-height: normal;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.btn-large [class^="icon-"] {
  margin-top: 2px;
}

.btn-small {
  padding: 3px 9px;
  font-size: 12px;
  line-height: 18px;
}

.btn-small [class^="icon-"] {
  margin-top: 0;
}

.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 17px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}


.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}

.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}

.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}

.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}

.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}

.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}

.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}

.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}

.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}

button.btn,
input[type="submit"].btn,
input[type="reset"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}

button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}


/* Form Layout */
.Theme_Responsive_20070_Contact .form_row,
.result_form .form_row{
	margin-bottom:15px;
}
.Theme_Responsive_20070_Contact .form_row{

	display:block;
	}
.Theme_Responsive_20070_Contact .form_row.row1,
.Theme_Responsive_20070_Contact .form_row.row2,
.Theme_Responsive_20070_Contact .form_row.row3{
	}
.Theme_Responsive_20070_Contact .form_label{
}
.Theme_Responsive_20070_Contact .form_required{
	color:red;
	display:none;
}
.Theme_Responsive_20070_Contact .submit_but{
	float:left;
}
.Theme_Responsive_20070_Contact .reset_but{
	float:right;
}


.Theme_Responsive_20070_Contact .result_form h1{
	
}
.Theme_Responsive_20070_Contact .form_submit{
	overflow:hidden;
}
.Theme_Responsive_20070_Contact .result_form .form_submit{
	text-align:left;
}



/* Z-INDEX */
 .formError { z-index: 990; }
    .formError .formErrorContent { z-index: 991; }
    .formError .formErrorArrow { z-index: 996; }

    .ui-dialog .formError { z-index: 5000; }
    .ui-dialog .formError .formErrorContent { z-index: 5001; }
    .ui-dialog .formError .formErrorArrow { z-index: 5006; }




.inputContainer {
	position: relative;
	float: left;
}

.formError {
	position: absolute;
	top: 300px;
	left: 300px;
	display: block;
	cursor: pointer;
	text-align: left;
}

.formError.inline {
	position: relative;
	top: 0;
	left: 0;
	display: inline-block;
}

.ajaxSubmit {
	padding: 20px;
	background: #55ea55;
	border: 1px solid #999;
	display: none;
}

.formError .formErrorContent {
	width: 100%;
	background: #ee0101;
	position:relative;
	color: #fff;
	min-width: 120px;
	font-size: 11px;
	border: 2px solid #ddd;
	box-shadow: 0 0 6px #000;
	-moz-box-shadow: 0 0 6px #000;
	-webkit-box-shadow: 0 0 6px #000;
	-o-box-shadow: 0 0 6px #000;
	padding: 4px 10px 4px 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
}

.formError.inline .formErrorContent {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	border: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
}

.greenPopup .formErrorContent {
	background: #33be40;
}

.blackPopup .formErrorContent {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow {
	width: 15px;
	margin: -2px 0 0 13px;
	position:relative;
}
body[dir='rtl'] .formError .formErrorArrow,
body.rtl .formError .formErrorArrow {
	margin: -2px 13px 0 0;
}

.formError .formErrorArrowBottom {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	margin: 0px 0 0 12px;
	top:2px;
}

.formError .formErrorArrow div {
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	box-shadow: 0 2px 3px #444;
	-moz-box-shadow: 0 2px 3px #444;
	-webkit-box-shadow: 0 2px 3px #444;
	-o-box-shadow: 0 2px 3px #444;
	font-size: 0px;
	height: 1px;
	background: #ee0101;
	margin: 0 auto;
	line-height: 0;
	font-size: 0;
	display: block;
}

.formError .formErrorArrowBottom div {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
}

.greenPopup .formErrorArrow div {
	background: #33be40;
}

.blackPopup .formErrorArrow div {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow .line10 {
	width: 15px;
	border: none;
}

.formError .formErrorArrow .line9 {
	width: 13px;
	border: none;
}

.formError .formErrorArrow .line8 {
	width: 11px;
}

.formError .formErrorArrow .line7 {
	width: 9px;
}

.formError .formErrorArrow .line6 {
	width: 7px;
}

.formError .formErrorArrow .line5 {
	width: 5px;
}

.formError .formErrorArrow .line4 {
	width: 3px;
}

.formError .formErrorArrow .line3 {
	width: 1px;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-bottom: 0 solid #ddd;
}

.formError .formErrorArrow .line2 {
	width: 3px;
	border: none;
	background: #ddd;
}

.formError .formErrorArrow .line1 {
	width: 1px;
	border: none;
	background: #ddd;
}



.Theme_Responsive_20070_Contact .input_Tooltip
{
}

.Theme_Responsive_20070_Contact .submit_image{
  border:none;
}

.Theme_Responsive_20070_Contact .PowerForms_Calendar{
	background-image:url(images/calendar.html);
	background-position:100% 50%;
	background-repeat:no-repeat;	
}

.Theme_Responsive_20070_Contact .PowerForms_ErrorMessage{
	color:#F00;
} 
@media only screen and (min-width: 768px) and (max-width: 991px){
	.Theme_Responsive_20070_Contact .submit_but{
		}
	}
@media only screen and (max-width: 767px){
	.Theme_Responsive_20070_Contact .form_list li{
		display:block;
		width:100% !important;
		}
	.btn {
		width: 48%;
		}
	}